<launch>
  <master auto="start"/>


<!-- RPLIDAR -->
  <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode"> <!-- output="screen" -->
    <param name="serial_port"         type="string" value="/dev/rplidar"/>  
    <param name="serial_baudrate"     type="int"    value="256000"/><!--A3 -->
    <param name="frame_id"            type="string" value="laser"/>
    <param name="inverted"            type="bool"   value="false"/>
    <param name="angle_compensate"    type="bool"   value="true"/>
    <param name="scan_mode"           type="string" value="Sensitivity"/>
  </node>


<!-- IMU -->
  <node name="imuNode"          pkg="agv"  type="imuNode.py">
    <param name="serial_port"         type="string" value="/dev/IMU"/>
  </node>

  <node name="magnetometerNode"          pkg="agv"  type="magnetometerNode.py"/>





   <!-- #### Nodelet manager ###################################################### -->
  <node pkg="nodelet" type="nodelet" name="imu_manager"
    args="manager" output="screen" />

  <!-- #### Complementary filter -->

  <node pkg="imu_complementary_filter" type="complementary_filter_node"
      name="complementary_filter_gain_node" output="screen">
    <param name="do_bias_estimation" value="true"/>
    <param name="do_adaptive_gain" value="true"/>
    <param name="use_mag" value="true"/>
    <param name="gain_acc" value="0.01"/>
    <param name="gain_mag" value="0.01"/>
    <param name="publish_debug_topics" value="true"/>

  </node>

<!-- SCOUT MINI -->
  <arg name="port_name" value="can0" />
  <arg name="simulated_robot" value="false" />
  <arg name="tf_pub" value="true" />
  <arg name="model_xacro" default="$(find scout_description)/urdf/scout_v2.xacro" />
  <arg name="odom_topic_name" default="odomScout" />
  <arg name="is_scout_mini" default="true" />
  <include file="$(find scout_base)/launch/scout_base.launch">
    <arg name="port_name" default="$(arg port_name)" />
    <arg name="simulated_robot" default="$(arg simulated_robot)" />
    <arg name="tf_pub" default="$(arg tf_pub)" />
    <arg name="odom_topic_name" default="$(arg odom_topic_name)" />
    <arg name="is_scout_mini" default="$(arg is_scout_mini)" />
  </include>
  <include file="$(find scout_description)/launch/description.launch">
    <arg name="model_xacro" default="$(arg model_xacro)" />
  </include>


<!-- CARTOGRAPHER -->
  <!-- Load robot description and start state publisher-->
  <!-- param name="robot_description" textfile="$(find gbot_core)/urdf/head_2d.urdf" / -->
  <!-- node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" / -->
  <!-- Start RPLIDAR sensor node which provides LaserScan data  -->
  <!-- Start Google Cartographer node with custom configuration file-->
  <!--node name="cartographer_node" pkg="cartographer_ros" type="cartographer_node" args="-configuration_directory $(find gbot_core)/configuration_files -configuration_basename gbot_lidar_2d.lua" / --> <!-- output="screen" -->
  <!-- Additional node which converts Cartographer map into ROS occupancy grid map. Not used and can be skipped in this case -->
  <!-- node name="cartographer_occupancy_grid_node" pkg="cartographer_ros" type="cartographer_occupancy_grid_node" args="-resolution 0.05" /-->


<!-- NAVIGATION -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base"> <!-- output="screen" -->
    <rosparam file="$(find my_robot_name_2dnav)/params/costmap_common_params_indoor.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find my_robot_name_2dnav)/params/costmap_common_params_indoor.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find my_robot_name_2dnav)/params/local_costmap_params_indoor.yaml" command="load" />
    <rosparam file="$(find my_robot_name_2dnav)/params/global_costmap_params_indoor.yaml" command="load" /> 
    <rosparam file="$(find my_robot_name_2dnav)/params/base_local_planner_params_indoor.yaml" command="load" />
  </node>


<!-- LOCALIZATION -->
  <!--rosparam command="load" file="$(find robot_localization)/params/dual_ekf_navsat_example.yaml" /-->
  <!--node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_odom" clear_params="true">
    <param name="frequency" value="50"/>
    <param name="transform_time_offset" value="0.05"/>
    <param name="transform_timeout" value="0.1"/>
    <remap from="odometry/filtered" to="odom"/>
  </node-->

</launch>
