<?xml version="1.0"?>

<launch>


  <!-- STREAM POSITION -->
    <node name="streamPositionNode" pkg="main_agv" type="streamPositionNode.py" />

  <!-- MQTT -->
    <node name="mqttNode" pkg="main_agv" type="mqttNode.py"/>

  <!-- MISSIONMANAGER -->
    <node name="missionManager" pkg="main_agv" type="missionManager.py"/>

  <!-- UTM -->
    <node name="utmNode" pkg="main_agv" type="UTM.py"/> 

  <!-- SAVE POINT -->
    <node name="savePointNode" pkg="main_agv" type="savePointNode.py"/>

  <node pkg="nodelet" type="nodelet" name="imu_manager"
    args="manager" output="screen" />

  <node pkg="imu_complementary_filter" type="complementary_filter_node"
      name="complementary_filter_gain_node" output="screen">
    <param name="do_bias_estimation" value="false"/>
    <param name="do_adaptive_gain" value="false"/>
    <param name="use_mag" value="true"/>
    <param name="gain_acc" value="0.01"/>
    <param name="gain_mag" value="0.01"/>
    <param name="publish_debug_topics" value="true"/>
  </node>


</launch>
